IS_PRODUCTION=

API_URL= # Backend URL
MEDIA_URL= # Bucket URL

CLARITY_ID=

SENTRY_AUTH_TOKEN=

# If you are using the auth flow
AUTH_SECRET= # Secret for JWT
AUTH_DEFAULT_USER= # Default user for auth flow
AUTH_DEFAULT_PASSWORD= # Default password for auth flow
MAILSLURP_API_KEY= # MailSlurp API Key

# If you are using Strapi as a headless CMS
STRAPI_URL=
STRAPI_MEDIA_URL=