IS_PRODUCTION=

API_URL= # Backend URL
MEDIA_URL= # Bucket URL

AUTH_SECRET= # Secret for JWT
AUTH_DEFAULT_USER= # Default user for JWT
AUTH_DEFAULT_PASSWORD= # Default password for JWT
MAILSLURP_API_KEY= # MailSlurp API Key

CLARITY_ID=

SENTRY_AUTH_TOKEN=

# If you are using Strapi as a headless CMS
STRAPI_URL=
STRAPI_MEDIA_URL=