# --- Client side variables ---
NEXT_PUBLIC_DOMAIN= # Frontend URL
NEXT_PUBLIC_API_URL= # Backend URL
NEXT_PUBLIC_MEDIA_URL= # Bucket URL

NEXT_PUBLIC_APP_ENV= # 'development', 'staging', or 'production'

NEXT_PUBLIC_CLARITY_ID=


# --- Server side variables ---

# Only use these variables if you are using the auth flow
AUTH_SECRET= # Secret for JWT - Generate with "openssl rand -hex 16"
AUTH_DEFAULT_USER= # Default user for auth flow
AUTH_DEFAULT_PASSWORD= # Default password for auth flow
MAILSLURP_API_KEY= # MailSlurp API Key

# Only use these variables if you are using Sentry
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_SENTRY_DSN=