.NotFoundPage
  width: 100%
  height: 100dvh
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  gap: 16px
  @apply bg-black text-white
  &__Logo
    width: 256px
    height: 256px
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5))

@media (max-width: 768px)
  .NotFoundPage
    &__Logo
      width: 128px
      height: 128px
