.AuthLayout
  @apply flex h-full w-full items-center justify-center p-4
  &__Section
    @apply flex w-full flex-col gap-8 max-w-[400px] min-w-[300px] h-max m-auto
  &__Logo
    width: 256px
    height: 256px
  .p-icon-field
    @apply w-full
    > .p-input-icon
      transform: translateY(-25%)